* {
  margin: 0;
  padding: 0;
}
.App {
  padding: 20px;
}
.marginRight {
  margin-right: 10px !important;
  /* background-color: red; */
}
.marginTop {
  margin-top: 10px !important;
}
.noBorder {
  border-radius: 0 !important;
  border: none !important;
}
.boldText {
  font-weight: bold;
}
section {
  cursor: grab;
}
tr:nth-child(even) {
  background: #efefef;
}
a {
  text-decoration: none;
  color: black;
}
.blueBg {
  background-color: #45aaf8 !important;
  color: #fff !important;
}
